<br>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-outline-primary" routerLink="/passer-commande">Nouvelle comande</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Date</th>
      <th scope="col">Montant total</th>
      <th scope="col">Détail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <th scope="row">{{order.commande.numero}}</th>
      <td>{{order.commande.date | customDate }}</td>
      <td>{{order.commande.prixTotal}}</td>
      <td>
        <ul *ngIf="order.ligneCommande && order.ligneCommande.length > 0"class="list-group">
          <li *ngFor="let c of order.ligneCommande" class="list-group-item">{{c.produit.caracteristiques}}-{{c.produit.marque}} ({{c.qte}} article(s) : PU {{c.produit.prixUnitaire}} PT {{c.prixTotal}} )</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
