<br>
<br>
<br>
<div class="card col-md-10 offset-md-1">
    <div class="card-header" style="font-weight: bold;">
    Nouvelle Commande
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <label for="field_numero" class="form-label" style="font-weight: bold;">Numéro</label>
                <br>
                <label for="field_date" class="form-label">{{ order.commande.numero}}</label>
            </div>
            <div class="col-md-3">
                <label for="field_date" class="form-label" style="font-weight: bold;">Date</label>
                <br>
                <label for="field_date" class="form-label">{{ order.commande.date | myDateTimeFormat }}</label>
            </div>
            <div class="col-md-4">
                <label for="field_montant" class="form-label" style="font-weight: bold;" >Montant Total</label>
                <input [(ngModel)]="order.commande.prixTotal" type="text" readonly class="form-control">
            </div>

        </div>

        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                    <label for="field_produit" class="form-label" style="font-weight: bold;">Produit</label>
                    <select class="form-control" id="produit" name="produit"
                     [(ngModel)]="lignesTemp.produit"
                     (ngModelChange)="affecterProduit($event)"
                     >
                        <option [ngValue]="null"></option>
                        <option *ngFor="let produit of produits" [ngValue]="produit">
                            {{produit.id}}:{{produit.caracteristiques}}-{{produit.marque}}-{{produit.modele}}(Prix:{{produit.prixUnitaire}})
                        </option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="exampleFormControlInput2" class="form-label" style="font-weight: bold;">Quantité</label>
                    <input [(ngModel)]="lignesTemp.qte" type="text" class="form-control">
                </div>
                <div class="col-md-2 align-self-end">

                    <button [disabled]="lignesTemp.qte === undefined || lignesTemp.produit === undefined"
                        *ngIf="!modeUpdate" class="btn btn-success" type="button"
                        (click)="ajouterLigneCommande()">Ajouter</button>
                    <button [disabled]="lignesTemp.qte === undefined || lignesTemp.produit === undefined"
                        *ngIf="modeUpdate" class="btn btn-success" type="button"
                        (click)="updateLigneCommande()">Modifier</button>
                </div>

            </div>

            <table *ngIf="order.ligneCommande" class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix Unitaire</th>
                        <th>Quantité</th>
                        <th>Prix Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let lc of order.ligneCommande; let i = index">

                    <tr>
                        <td>
                            {{lc.produit.code}}-{{lc.produit.caracteristiques}}
                        </td>
                        <td>
                            {{lc.produit.prixUnitaire}}
                        </td>
                        <td>
                            {{lc.qte}}
                        </td>
                        <td>
                            {{lc.prixTotal}}
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-sm btn-danger"
                                        (click)="supprimerLigneCommande(i)">Supprimer</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-sm btn-info text-white"
                                        (click)="editerLigneCommande(i)">Editer</button>
                                </div>



                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>


        <div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-default me-md-2" type="button" (click)="annuler()">Annuler</button>
                <button class="btn btn-primary" type="button" (click)="passerLaCommande()">Commander</button>
            </div>
        </div>

    </div>
</div>    