<br>
<br>
<br>
<div class="card col-md-8 offset-md-2">
    <div class="card-header">
        <span>Authentification</span>
    </div>
    <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Login</label>
            <input type="email" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" (click)="login()" type="button">Entrer</button>
          </div>
    </div>
    
    

</div>
