<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">ZED IHM App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/mes-achats">Mes achats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventaire">Inventaire</a>
        </li>
        
        
      </ul>
      <button class="btn btn-outline-success" type="button" routerLink="./login"><span><i class="fas fa-sign-in-alt"></i></span></button>
    </div>
  </div>
</nav>
<div class="col-md-8 offset-md-2">
  <router-outlet></router-outlet>
</div>

